<!-- dic = [{'stadium': 'Philips Arena', 'location': 'Atlanta', 'mascot': 'Harry the Hawk', 'team_name_abbr': 'ATL', 'name': 'Atlanta Hawks', 'conference': 'E', 'mascoticon': 'https://i.kinja-img.com/gawker-media/image/upload/sXzaUcNcA/c_scale,fl_progressive,q_80,w_800/slum1imo6mtlolhmhmvz.jpg', 'webpage': 'http://www.nba.com/teams/hawks', 'logo': 'http://i.cdn.turner.com/nba/nba/assets/logos/teams/primary/web/ATL.svg'}]   -->

{% extends "layouts/layout.html" %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	{% for data in json_data%}
	<div class="thumbnail" style="font-family: 'Roboto', sans-serif;">
		<h2 style="text-align:center">{{ data.name }}</h2>
		<div class="row" style="margin-top: 40px">
			<div class="col-lg-4">
				<img style="width: 70%" src="{{ data.logo }}">
			</div>
			<div class="col-lg-8" style="width: 560px; margin: 0 auto;">
					<iframe width="560" height="315" src="{{ teamdic[data.team_name_abbr] }}" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<hr style = "margin-top: 40px; margin-bottom: 40px;">
		<div style="width: 500px; margin: 0 auto;">
			<h2 style="text-align:center">Team Information</h2>
			<p><b>Team Name: </b>{{ data.name }}</p>
			<p><b>Abbr Name:</b> {{ data.team_name_abbr }}</p>
			<p><b>Home City:</b> {{ data.location }}</p>
			<p><b>Stadium:</b> {{ data.stadium }}</p>
			<p><b>NBA Homepage:</b> <a href="{{data.webpage}}" target="_blank">{{data.webpage}}</a></p>
		</div>
		<hr style = "margin-top: 40px; margin-bottom: 40px;">
		<div style="width: 500px; margin: 0 auto;">
			<h2 style="text-align:center">Mascot</h2>
			<p style="text-align:center">{{ data.mascot }}</p>
			<div>
				<img style="width: 60%" src="{{ data.mascoticon }}">
			</div>
		</div>
	</div>
	{% endfor %}
{% endblock %}